.container {
	--subtitle-duration: 0.6s;
	--subtitle-delay: 0.4s;

	.subtitle {
		display: flex;
		justify-content: center;
		color: var(--color-text-light);
		font-size: var(--text-xl);

		span {
			opacity: 0;
			animation: word-pop-in 0.5s linear forwards;
		}

		span:nth-of-type(1) {
			animation-delay: calc(var(--heading-duration) + (var(--subtitle-duration) / 3) * 1);
		}

		span:nth-of-type(2) {
			animation-delay: calc(var(--heading-duration) + (var(--subtitle-duration) / 3) * 2);
		}

		span:nth-of-type(3) {
			animation-delay: calc(var(--heading-duration) + (var(--subtitle-duration) / 3) * 3);
		}
	}

	.logoContainer {
		transform: translateY(50%);
		animation: logo-move-up 0.5s ease-in-out calc(var(--heading-duration) + var(--subtitle-duration) + var(--subtitle-delay)) forwards;
		transition: transform;
	}

	.logo {
		animation: logo-scale 0.4s ease-in-out calc(var(--heading-duration) + var(--subtitle-duration) + var(--subtitle-delay)) forwards;

	}

	.actionContainer {
		opacity: 0;
		animation: action-slide-in 0.7s ease-out forwards;
		animation-delay: calc(var(--heading-duration) + var(--subtitle-duration) + 0.85s);
	}
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100svh;
	width: 100vw;
	z-index: -50;
	filter: brightness(50%);
	opacity: 0;
	animation: image-fade-in 5s linear forwards;
}

@keyframes image-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes action-slide-in {
	from {
		transform: translateY(-1rem);
		opacity: 0;
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes word-pop-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media(max-width: 768px) {
	.logo {
		height: 5rem;
	}

	@keyframes logo-scale {
		to {
			height: 5rem;
		}
	}
}

@media(min-width: 768px) {
	.logo {
		height: 10rem;
	}

	@keyframes logo-scale {
		to {
			height: 8rem;
		}
	}
}

@media(min-width: 992px) {
	.logo {
		height: 12rem;
	}

	@keyframes logo-scale {
		to {
			height: 10rem;
		}
	}
}

@keyframes logo-move-up {
	from {
		transform: translateY(50%);
	}

	to {
		transform: translateY(0%);
	}
}
