DATABASE_URL="http://backend:8080"
PUBLIC_API_BASE_URL="https://api.<domain>"

UNTAPPD_ENCODED_ACCESS_KEY=<untappd_encoded_access_key>
UNTAPPD_LOCATION_ID=<untappd_location_id>
UNTAPPD_MENU_ID=<untappd_menu_id>
