services:
  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
    - 80:80
    - 443:443
    - 443:443/udp
    volumes:
    - caddy_data:/data
    - caddy_config:/config
    configs:
    - source: caddyfile
      target: /etc/caddy/Caddyfile

  frontend:
    image: ghcr.io/mattismoel/delaneys/frontend:main
    restart: unless-stopped

  backend:
    image: ghcr.io/mattismoel/delaneys/backend:main
    restart: unless-stopped
    secrets:
    - untappd_email
    - untappd_api_access_token
    - untappd_location_id
    - untappd_menu_id
    - google_client_id
    - google_client_secret
    environment:
      UNTAPPD_EMAIL: /run/secrets/untappd_email
      UNTAPPD_API_ACCESS_TOKEN: /run/secrets/untappd_api_access_token
      UNTAPPD_LOCATION_ID: /run/secrets/untappd_location_id
      UNTAPPD_MENU_ID: /run/secrets/untappd_menu_id
      GOOGLE_CLIENT_ID: /run/secrets/google_client_id
      GOOGLE_CLIENT_SECRET: /run/secrets/google_client_secret

  db:
    image: postgres
    restart: unless-stopped
    shm_size: 128mb
    ports:
    - 5432:5432

volumes:
  caddy_data:
  caddy_config:

configs:
  caddyfile:
    file: ./Caddyfile
