@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "@iconify/tailwind4";

:root {
	--heading-duration: 1.6s;

	--check-spacing: 2px;
	--check-thickness: 1px;
	--checked-gradient: repeating-linear-gradient(-45deg,
			transparent,
			transparent var(--check-spacing),
			var(--color-border) var(--check-spacing),
			var(--color-border) calc(var(--check-spacing) + var(--check-thickness)));
}

@theme {
	--color-*: initial;

	--color-primary: hsl(37deg 100% 88%);
	--color-background: hsl(from var(--color-primary) h s 95%);

	--color-surface-100: hsl(from var(--color-primary) h s 94%);
	--color-surface-200: hsl(from var(--color-surface-100) calc(h - 5) s calc(l - 3));
	--color-surface-300: #ffccac;

	--color-border: hsl(from var(--color-primary) calc(h - 15) calc(s - 30) calc(l - 15));

	--color-text-dark: hsl(from var(--color-primary) calc(h - 40) s calc(l - 83));
	--color-text-dark-muted: hsl(from var(--color-text-dark) calc(h + 15) calc(s - 35) calc(l + 12));

	--color-text-light: hsl(from var(--color-primary) h 50% l);
	--color-text-light-muted: hsl(from var(--color-text-light) calc(h - 10) calc(s - 30) calc(l - 15));

	--font-sans: "Poppins", sans-serif;
	--font-serif: "Literata", serif;


	@keyframes fade-out {
		from {
			opacity: 100%;
		}

		to {
			opacity: 0%;
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0%;
		}

		to {
			opacity: 100%;
		}
	}

	@keyframes slide-left {
		from {
			transform: translateX(0%);
		}

		to {
			transform: translateX(-100%);
		}
	}
}

@utility mx-responsive {
	--max-content-width: 55em;
	--min-padding: 3rem;

	max-width: min(var(--max-content-width), 100% - var(--min-padding));
	margin: 0 auto;
}

@utility fade-in-* {
	animation: fade-in --value([*]);
}

@utility fade-out-* {
	animation: fade-out --value([*]);
}

@utility hatch-v {
	&::after {
		content: "";
		background: var(--checked-gradient);
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		height: 100%;
		border-right: var(--color-border) solid 1px;
	}
}

@utility hatch-h {
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 25%;
		border-top: var(--color-border) solid 1px;
		background: var(--checked-gradient);
	}
}
