@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import "tailwindcss";

:root {
	--check-spacing: 2px;
	--check-thickness: 1px;

	--checked-gradient: repeating-linear-gradient(-45deg,
			transparent,
			transparent var(--check-spacing),
			var(--color-border) var(--check-spacing),
			var(--color-border) calc(var(--check-spacing) + var(--check-thickness)));

	--dispenser-thickness: 2.5rem;
	--dispenser-label-height: 8px;
	--dispenser-border-width: 2px;

	--font-sans: "Poppins", "sans-serif";
	--font-mono: "IBM Plex Mono", "Poppins", "sans-serif";

	--heading-duration: 2s;
}

@theme {
	--color-*: initial;

	--color-raisin-black: hsla(244, 17%, 16%, 1);
	--color-almond: hsla(32, 52%, 89%, 1);

	--color-background-100: oklch(from var(--color-almond) calc(l + 0.15) c h);
	--color-background-200: oklch(from var(--color-almond) l c h);
	--color-background-300: oklch(from var(--color-almond) calc(l - 0.07) c h);

	--color-border: oklch(from var(--color-almond) calc(l - 0.15) c h);
	--color-error: oklch(from red calc(l + 0.075) c h);

	--color-text-dark: var(--color-raisin-black);
	--color-text-light: oklch(from var(--color-almond) calc(l + 0.15) c h);

	--font-serif: "Source Serif 4", serif;
	--font-sans: "Poppins", sans-serif;

	--font-heading: var(--font-serif);

	--animate-dash-move: dash-move 4s linear;
	--animate-fade-in: fade-in 0.8s;
	--animate-slide-in-from-top: slide-in-from-top 2.0s ease-in-out;

	@keyframes fade-in {
		from {
			opacity: 0%;
		}

		to {
			opacity: 100%;
		}
	}

	@keyframes slide-in-from-top {
		from {
			transform: translateY(-2rem);
		}

		to {
			transform: translateY(0);
		}
	}
}

@utility animation-forwards {
	animation-fill-mode: forwards;
}

@utility animation-delay-* {
	animation-delay: --value(integer)ms;
}

@utility px-responsive {
	@apply px-8 sm:px-10 md:px-16 lg:px-32 xl:px-64;
}

@utility font-bold-no-shift {
	display: inline-block;
	text-align: center;

	&::before {
		display: block;
		content: attr(title);
		display: block;
		font-weight: bold;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
}

@utility hatch-v {
	&::after {
		content: "";
		background: var(--checked-gradient);
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		height: 100%;
		border-right: var(--color-border) solid 1px;
	}
}

@utility hatch-h {
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 25%;
		border-top: var(--color-border) solid 1px;
		background: var(--checked-gradient);
	}
}
