name: Publish Backend

env:
  REGISTRY: ghcr.io
  PACKAGE_NAME: backend
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

on:
  pull_request:
    branches: [ "main", "dev", "edge" ]
    paths:
    - 'backend/**'
  push:
    branches: [ "main", "dev", "edge" ]
    paths:
    - 'backend/**'

jobs:
  publish-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ github.actor }}/${{ github.event.repository.name }}/${{ env.PACKAGE_NAME }}:${{ env.BRANCH_NAME }}
            ${{ env.REGISTRY }}/${{ github.actor }}/${{ github.event.repository.name }}/${{ env.PACKAGE_NAME }}:${{ github.sha }}
