name: Publish frontend

env:
  REGISTRY: ghcr.io
  PACKAGE_NAME: frontend

on:
  pull_request:
    branches: ["main", "dev", "edge"]
    # paths:
    #   - "frontend/**"
  push:
    branches: ["main", "dev", "edge"]
    # paths:
    #   - "frontend/**"

jobs:
  publish-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ github.actor }}/${{ github.event.repository.name }}/${ env.PACKAGE_NAME }}:${{ github.ref_name }}
            ${{ env.REGISTRY }}/${{ github.actor }}/${{ github.event.repository.name }}/${ env.PACKAGE_NAME }}:${{ github.sha }}
